//- list.pug
extends layout
block content
    h1="List of Notes"
    div
        nav.pre-scrollable
            ul
                each val in notes
                    li= val.Notes.Title
    a.btn.btn-primary.btn-lg(href="/notes" role="button") Add New Note

    footer.footer
        p CIS 385
