//- notes.pug
extends layout
block content
    h1="Note Editor"
    div
        form(method='POST' action='/notes')
            div.form-group
                label(for='title') Title:
                input#title.form-control(type='text', placeholder='Enter your note title (required)' name='title', value=notes.Notes.title)
            div.form-group
                label(for='content') Content:
                textarea#content.form-control(placeholder='Enter your text here (optional)' name='content')=notes.Notes.contents
            button.btn.btn-primary(type='submit') Delete
            button.btn.btn-primary(type='submit') Save
    footer.footer
        p CIS 385