//- notes.pug
extends layout
block content
    h1="Note Editor"
    div
        form(method='POST' action='/notes')
            div.form-group
                label(for='name') Title:
                input#name.form-control(type='text', placeholder='Enter your note title (required)' name='title')
            div.form-group
                label Content:
                textarea.form-control(placeholder='Enter your text here (optional)' name='content')
            button.btn.btn-primary(type='cancel') Cancel
            button.btn.btn-primary(type='submit') Save
        script
            input#save(name="save" value="Save" type="submit")
            script.
                $('#save').click(function () {
                    $.post('Alert')
                });
    footer.footer
        p CIS 385