//- notes.pug
extends layout
block content
    h1="Note Editor"
    div
        form(method='POST' action='/notes')
            div.form-group
                label(for='name') Title:
                input#name.form-control(type='text', placeholder='Enter your note title (required)' name='title', value=notes.Notes.Title)
            div.form-group
                label Content:
                textarea.form-control(placeholder='Enter your text here (optional)' name='content')=notes.Notes.Contents
            button.btn.btn-primary(type='submit') Delete
            button.btn.btn-primary(type='submit') Save
    footer.footer
        p CIS 385